
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sasns-serif;
}
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101D;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}
.sidebar.open .bx-search:hover{
  background: #1d1b31;
  color: #FFF;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #11101d;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
.home-section{
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}

/*   My aditions    */

.main-search-area{
  width:100%;
  height:100px;
  background-color: #ff7300;
  display: flex;
  transition: all 0.5s ease;
}

.logo-icon{
  margin-left: 70px;
  margin-top: 20px;
  color: #fff;
  height: 80px;
  min-width: 50px;
  font-size: 40px;
  text-align: center;
  line-height: 60px;
  
}

.logo-text{
  
  margin-top: 30px;
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  
}
.logo-text.hide{
  visibility: collapse;
}


.main-search{
  margin-top: 25px;
  margin-left: 50px;
  height: 50px;
  width:1300px;
  font-size: 20px;
  padding-left: 20px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  transition: all 0.5s ease;
  border:none;
}
.main-search::placeholder{
  color: rgb(0, 0, 0);
  opacity: 50%;
}

.main-search-btn{
  margin-top: 25px;
  margin-left: 10px;
  height: 50px;
  width:150px;
  font-size: 20px;
  border-radius: 5px;
  text-align: center;
  
  background-color: rgb(29, 5, 59);
  color: white;
  transition: all 0.5s ease;
}

.page-heading{
  color:rgb(29, 5, 59);
  margin-left:100px;
  margin-top: 50px;
  width:80%;
  font-size: 50;
  display: flex;
}


.page-description{
  margin-top: 20px;
  margin-left: 100px;
  width:80%;
}

.triangle-up {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 40px solid rgb(0, 0, 0);
}

.triangle-up.clicked{
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 40px solid rgb(195, 0, 255);
}


.triangle-down {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 40px solid rgb(0, 0, 0);
}

.triangle-down.clicked {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 40px solid rgb(195, 0, 255);
}


.qlist{
  margin-left: 100px;
  width:90%;
  padding-bottom: 100px;
}

.question-item{
  margin-top: 15px;
  display: flex;
}

.ques-vote-ans{
  width: 100px;
  height:150px; 
  text-align: center;
  border: 2px solid rgb(58, 1, 58);
  border-radius: 7px;
}

.no-votes{
  margin-top: 10px;
}

.ques-descr{
  margin-left: 20px;
}

.ques-title{
  display: flex;
}

.q-remove-btn{
  position: absolute;
  right:200px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 15px;
  border-radius: 5px;
  text-align: center;
  background-color: rgb(102, 6, 14);
  color: white;
  transition: all 0.5s ease;
}

.ques-hyper{
  width:80%;
  font-size: 25px;
  
}

.ques-hyper-a{
  text-decoration: none;
  color: rgb(0, 4, 255);
}

.tag-disp{
  text-decoration: none;
}


.ques-tags{
  margin-left: 20px;
  margin-top: 10px;
  text-decoration: none;
}


.tag-tooltip{
  margin-left: 20px;
  text-align: center;
  height:50px;
  background-color: #1d1b31;
  color: #ffffff;
  height: 30px;
  width: auto;
  border-radius: 5px;
  text-decoration: none;
  position: relative;
  display: inline-block;
  
}

.tag-tooltip .tooltiptext{
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}
  
.tag-tooltip .tooltiptext::after{
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.tag-tooltip:hover .tooltiptext {
  visibility: visible;
}

.tag-p{
  padding-left:10px;
  padding-right:10px;
}

/*      Tag Page     */

.tag-search{
  width:200px;
  height:35px;
  margin-left: 1250px;
  border-radius: 5px;
  padding-left: 10px;
  border:none;
}

.tag-search::placeholder{
  opacity: 50%;
}

.tag-search-btn{
  height:35px;
  width: 40px;
  margin-left: 10px;
  font-size: 20px;
  border-radius: 7px;
  background-color: #1d1b31;
  color: #fff;
  margin-right: 200px;
}


.tag-list{
  max-width:95%;
  margin-left: 100px;
  padding-bottom: 100px;
}

.tag-list-row{
  max-width:90%;
  display: flex;
  
}

.tag-list-item{
  margin-top: 10px;
  margin-left: 10px;
  width:300px;
  height:250px;
  border:2px solid #1d1b31; 
  border-radius: 7px; 
}

.tag-disp-out{
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;
}

.tag-desc{
  font-size: large;
  text-align: center;
  margin-top:50px;
}


.mytag-list-item{
  margin-top: 10px;
  margin-left: 10px;
  width:380px;
  height:250px;
  border:2px solid #1d1b31; 
  border-radius: 7px; 
}

.tag-header{
  display: flex;
}


.unfollow-btn{
  margin-left: 80px;
  margin-top: 30px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 15px;
  border-radius: 5px;
  text-align: center;
  background-color: rgb(102, 6, 14);
  color: white;
  transition: all 0.5s ease;
}


/*    Ask a Question    */

.q-area{
  margin-top:20px;
  width:90%;
  margin-left:100px;
  padding-bottom: 100px;
  
}

.q-title-box{
  margin-top: 10px;
  width:80%;
  height:35px;
  border: none;
  border-radius: 5px;
  padding-left: 20px;
}


.q-title{
  margin-left: 50px;
}

.q-desc{
  width:90%;
  margin-top:40px;
  margin-left: 50px;
}

.full-text-area{
  margin-top:10px;
  background-color: white;
  width:86%;
  min-height: 400px;
}

#editor{
  border: none;
}
.q-tags{
  margin-top: 40px;
}

.q-tags-box{
  width:86%;
  margin-top: 10px;
  height:35px;
  border-radius: 5px;
  padding-left: 20px;
  border:none;
}

.q-submit-btn{
  margin-left: 50px;
  margin-top:40px;
  width: 50px;
  font-size:15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width:auto;
  background-color: #191641;
  color: white;
  border-radius: 7px;
}


/*    Question View   */


.code-snippet{
  margin-top:10px;
  background-color: rgb(182, 161, 140);
  margin-bottom: 10px;

}

.language-markup{
  margin-left:50px;
}

.q-page-tags{
  margin-top: 20px;
  margin-left: 100px;
  width:80%;
}

.q-page-heading{
  margin-left:100px;
  margin-top: 50px;
  width:80%;
}

.q-page-q-title{
  display: flex;
}

.q-page-vote-num{
  margin-left: 12px;
}

.q-page-real-heading{
  margin-left:75px;
}

.answers{
  margin-top: 50px;
  margin-left:100px;
}

.type-ans{
  margin-top:20px;
  background-color: white;
  width:86%;
  min-height: 400px;
}


.ans-submit-btn{
  margin-top:40px;
  width: 50px;
  font-size:15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width:auto;
  background-color: #191641;
  color: white;
  border-radius: 7px;
  margin-bottom: 50px;
}

.ans-item{
  margin-top:50px;
  width:86%;
  border-bottom: 2px solid gray ;
}


.ans-title{
  display: flex;
}

.ans-vote-num{
  margin-left: 15px;
}

.ans-author{
  margin-left:75px;
}

/*    My Profile    */

.pic-section{
  margin-top:20px;
}

.single-section{
  font-size: 20px;
  margin-top:20px;
  display: flex;
}

.click-to-change-btn{
  position:absolute;
  right:900px;
  width: 50px;
  font-size:15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width:auto;
  background-color: #191641;
  color: white;
  border-radius: 7px;
}

.click-to-change-btn.clicked{
  position:absolute;
  right:962px;
  width: 50px;
  font-size:15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width:auto;
  background-color: #191641;
  color: white;
  border-radius: 7px;
}

.change-box{
  visibility:collapse;
  position:absolute;
  right:600px;
  border:none;
  padding-left: 10px;
  height:35px;
}

.change-box.clicked{
  visibility:visible;
  position:absolute;
  right:600px;
  border:none;
  padding-left: 10px;
  height:35px;
}


.click-to-submit-btn{
  visibility:collapse;
  position:absolute;
  right:500px;
  width: 50px;
  font-size:15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width:auto;
  background-color: rgb(102, 6, 14);
  color: white;
  border-radius: 7px;
}

.click-to-submit-btn.clicked{
  visibility:visible;
  position:absolute;
  right:500px;
  width: 50px;
  font-size:15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width:auto;
  background-color: rgb(102, 6, 14);
  color: white;
  border-radius: 7px;
}

.pro-pic{
  margin-top: 20px;
  width:250px;
  height:300px;
}

.change-img-btn{
  
  width: 250px;
  font-size:15px;
  height:40px;
  background-color: #191641;
  color: white;
  border-radius: 7px;
}


/*    Tag   View    */

.tag-view-page-description{
  margin-top: 20px;
  margin-left: 100px;
  width:80%;
  display: flex;
}

.ques-search{
  width:200px;
  height:35px;
  margin-left: 1250px;
  border-radius: 5px;
  padding-left: 10px;
  border:none;
}

.ques-search-btn{
  height:35px;
  width: 40px;
  margin-left: 10px;
  font-size: 20px;
  border-radius: 7px;
  background-color: #1d1b31;
  color: #fff;
  margin-right: 200px;
}